.text{
    font-family: "Rubik",sans-serif;   /*uttara buying house*/
    font-family: 'Source Sans Pro', sans-serif;  /*multivision footer*/
    font-family: 'Montserrat', sans-serif; /*albatinoverseas.com/blog_details/5 (latest post)*/
}
