 #botomnav nav ul li:last-child{
  display: inline-block;
  background: #161616;
  margin-right: 0px;
  }

  nav.main-menu ul.menu li ul.mega-submenu li:not(:last-child) a:before {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      bottom: 0;
      left: 20px;
      right: 20px;
      transform: scaleX(0);
  }


  /* if you have fewer than 6 columns, */
  td:not(:nth-child(2n))

 /*  if you have at least 6 columns and only want to exclude the 2nd and 4th,
  and not every even column. */
 td:not(:nth-child(2)):not(:nth-child(4));


