.nav-icon {
    position: fixed;
    top: 85px;
    width: 100%;
    z-index: 8;
    border-bottom: 1px solid #5555552c;
}
.input[type="text"]:focus, textarea:focus{
        border: 1px solid #c3002f;
        -webkit-box-shadow: none;
        -webkit-appearance: searchfield;
        font-family: inherit;
        transition: border linear .2s, box-shadow linear .2s;
}