 #product-categories .card:hover {
     transition: .5s;
     box-shadow: 3px 3px 3px #1c89b2;
 }

 #product-categories .card:hover .card-body img {
     transition: .7s;
     transform: scale(1.1);
 }