/*-------------------------------- Respinsive Media Styles --------------------------------*/

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (max-width: 991px) {

}

/* Tablet Device: 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Large Mobile: 480px   (roted mobile) */
@media only screen and (max-width: 767px) {

}


/* Small Mobile: 320px */
@media only screen and (max-width: 479px) {

}


/* medium Mobile: 375px */
@media (max-width: 575px) {

}


@media only screen and (max-width: 480px) {

}




/* ========== Global / Default Styles (Desktop First or Mobile First) ========== */
/* Write your common styles here. They apply to all screen sizes unless overridden. */


/* ========== Extra Small Devices (Mobile Portrait) ========== */
@media (max-width: 480px) {

}

/* ========== Small Devices (Mobile Landscape / Small Mobiles) ========== */
@media (min-width: 481px) and (max-width: 767px) {

}

/* ========== Medium Devices (Tablets) ========== */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* ========== Large Devices (Small Laptops / Notebooks) ========== */
@media (min-width: 1025px) and (max-width: 1366px) {

}

/* ========== Extra Large Devices (Standard Desktops / Laptops) ========== */

@media (min-width: 1367px) and (max-width: 1600px) {

}

/* ========== Ultra Wide Monitors ========== */
@media (min-width: 1601px) and (max-width: 1920px) {

}

/* ========== Super Ultra-Wide Monitors ========== */
@media (min-width: 1921px) and (max-width: 2560px) {

}
